body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

header h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.description {
  font-size: 21px;
  color: gray;
}

p a {
  color: aquamarine;
  font-size: 16px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.copyright {
  text-align: right;
  color: gray;
  font-size: 21px;
}